<ul class="nav navbar-nav side-nav" style="margin-top:15px;">
    <li>
        <a href="javascript:;" data-toggle="collapse" data-target="#user" class="dropdown-item menu-item-color"><i class="fa fa-fw fa-user"></i> Korisnici <i class="fa fa-fw fa-caret-down"></i></a>
        <ul id="user" class="collapse">
            <li>
                <a asp-area="Identity" asp-page="/Account/Register">Dodaj</a>
            </li>
            <li>
                <a href="/Administracija/User/PregledKorisnika">Pregled</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="javascript:;" data-toggle="collapse" data-target="#TipKonkursa" class="dropdown-item menu-item-color"><i class="fa fa-fw fa-file-text"></i> TipKonkursa <i class="fa fa-fw fa-caret-down"></i></a>
        <ul id="TipKonkursa" class="collapse">
            <li>
                <a href="/Administracija/TipKonkursa/Dodaj/">Dodaj</a>
            </li>
            <li>
                <a href="/Administracija/TipKonkursa/Index/">Pregled</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="javascript:;" data-toggle="collapse" data-target="#Konkursi" class="dropdown-item menu-item-color"><i class="fa fa-fw fa-file-text"></i> Konkursi <i class="fa fa-fw fa-caret-down"></i></a>
        <ul id="Konkursi" class="collapse">
            <li>
                <a href="/Administracija/Konkurs/Add/">Dodaj</a>
            </li>
            <li>
                <a href="/Administracija/Konkurs/Index/">Pregled</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="javascript:;" data-toggle="collapse" data-target="#Ankete" class="dropdown-item menu-item-color"><i class="fa fa-fw fa-file-text"></i> Ankete <i class="fa fa-fw fa-caret-down"></i></a>
        <ul id="Ankete" class="collapse">
            <li>
                <a href="/Administracija/Anketa/Dodaj/">Dodaj</a>
            </li>
            <li>
                <a href="/Administracija/Anketa/Index/">Pregled</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="javascript:;" data-toggle="collapse" data-target="#FAQ" class="dropdown-item menu-item-color"><i class="fa fa-fw fa-file-text"></i> FAQ <i class="fa fa-fw fa-caret-down"></i></a>
        <ul id="FAQ" class="collapse">
            <li>
                <a href="/Administracija/FAQ/Dodaj/">Dodaj</a>
            </li>
            <li>
                <a href="/Administracija/FAQ/Index/">Pregled</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="javascript:;" data-toggle="collapse" data-target="#NajaveMedij" class="dropdown-item menu-item-color"><i class="fa fa-fw fa-file-text"></i> NajaveMedij <i class="fa fa-fw fa-caret-down"></i></a>
        <ul id="NajaveMedij" class="collapse">
            <li>
                <a href="/Administracija/NajaveMedij/Dodaj/">Dodaj</a>
            </li>
            <li>
                <a href="/Administracija/NajaveMedij/Index/">Pregled</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="javascript:;" data-toggle="collapse" data-target="#Kantoni" class="dropdown-item menu-item-color"><i class="fa fa-fw fa-file-text"></i> Kantoni <i class="fa fa-fw fa-caret-down"></i></a>
        <ul id="Kantoni" class="collapse">
            <li>
                <a href="/Administracija/Kantoni/Dodaj/">Dodaj</a>
            </li>
            <li>
                <a href="/Administracija/Kantoni/Index/">Pregled</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="javascript:;" data-toggle="collapse" data-target="#Ustanove" class="dropdown-item menu-item-color"><i class="fa fa-fw fa-file-text"></i> Ustanove <i class="fa fa-fw fa-caret-down"></i></a>
        <ul id="Ustanove" class="collapse">
            <li>
                <a href="/Administracija/UstanoveKantoni/Dodaj/">Dodaj</a>
            </li>
            <li>
                <a href="/Administracija/UstanoveKantoni/Index/">Pregled</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="javascript:;" data-toggle="collapse" data-target="#KategorijeLinkova" class="dropdown-item menu-item-color"><i class="fa fa-fw fa-file-text"></i> KategorijeLinkova <i class="fa fa-fw fa-caret-down"></i></a>
        <ul id="KategorijeLinkova" class="collapse">
            <li>
                <a href="/Administracija/KategorijeLinkova/Dodaj/">Dodaj</a>
            </li>
            <li>
                <a href="/Administracija/KategorijeLinkova/Index/">Pregled</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="javascript:;" data-toggle="collapse" data-target="#Linkovi" class="dropdown-item menu-item-color"><i class="fa fa-fw fa-file-text"></i> Linkovi <i class="fa fa-fw fa-caret-down"></i></a>
        <ul id="Linkovi" class="collapse">
            <li>
                <a href="/Administracija/Linkovi/Dodaj/">Dodaj</a>
            </li>
            <li>
                <a href="/Administracija/Linkovi/Index/">Pregled</a>
            </li>
        </ul>
    </li>
</ul>
