<aside class="topPanel">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-3">
                <div class="input-group">

                </div>
            </div>
        </div>
    </div>
</aside>
<header id="header" class="kv-hidden UstanovaLogo">

    <div class="row">
        <div class="col-xs-12 col-md-12 headerLogo md12NopaddingLeft">
            <a href="/Home/Index">
                <div class="UstanovaLogo"></div>
            </a>
        </div>
    </div>
    @*<div class="row">*@
        <div class="col-xs-12 col-md-12 UstanovaBackColor md12NopaddingLeft">
        @*<ul class="nav navbar-nav">
            <li class="dropdown">*@
                <a href="/Home/Index" class="fontNaslovnaTraka ">NASLOVNA</a>
            @*</li>
        </ul>*@
        </div>
    @*</div>*@
    

</header>
<body>
    
</body>
<footer id="footer">
    <p>Fooooooooteeeeerrrrrrrrr</p>
    <a href="https://www.facebook.com/" class="social-icon iconFacebook" target="_blank">
        <i class="fa fa-facebook"></i>
    </a>
    <a href="https://www.youtube.com/" class="social-icon iconYoutube" target="_blank">
        <i class="fa fa-youtube"></i>
    </a>
    <a href="https://twitter.com/" class="social-icon iconTwitter" target="_blank">
        <i class="fa fa-twitter"></i>
    </a>
    <p>Ukupno posjeta:Brojacccc</p>
</footer>