
@{
    ViewData["Title"] = "Pregled Korisnika";
    Layout = "~/Areas/Administracija/Views/Shared/MasterAdmin.cshtml";
}

<div class="row">
    <div class="col-md-10">
        <h2>Pregled Korisnika</h2>
        <div id="data-container"></div>
        <div id="pagination-container"></div>
        
    </div>
</div>

